*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --hue-neutral: 38;
  --hue-wrong: 0;
  --hue-correct: 125;
}

body {
 --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /*background-color: hsl(var(--hue), 100%, 20%);*/
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  color: white;
  max-width: 80%;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  padding: 10px;
  box-shadow: 0 0 4px 1px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  /*--hue: var(--hue-neutral);*/
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn, .finish-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #e66634;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/*.img1 .container {
  background-position: center center;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  padding: auto;
  margin: 40px auto;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  border: 2px solid transparent;
  background-clip: padding-box;
}*/








/* Background Styles Only 

@import url('https://fonts.googleapis.com/css?family=Raleway');*/


html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1490383559880-5003a7baa963?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80") ;
  background-repeat:no-repeat;
  background-size:cover;
}
